html,
body {
  margin: 0;
  font-family: 'Playfair Display', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #faf2e9;
  color: #737373;
  text-align: center;
}
h1 {
  font-family: 'Dancing Script', cursive;
  color: #737373;
}
h2 {
  font-family: 'Crimson Text', cursive;
  color: #737373;
}
